.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 .mapContainer{
    width:90%;

 }
/*------ the list ---------*/
.list {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  -ms-transform: translate(-260px, 0);
  -webkit-transform: translate(-260px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.5s ease;
  width: 260px;
  z-index: 5;
}
